/**
* @Name Teste2
* @version 1.0.4.0
* @autor Brankko-JusPain
*
* @website http://github.com/Brankko-JustPain
* @source https://github.com/Brankko-JustPain/Just-a-test
*/

 .fullscreen-bg video,
 .fullscreen-bg-video{
    position: fixed;
    top: 50%; left: 50%;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    trasform: translate (-50%, -50%);
}
 :root {
 --app-bg: url();
 --window-padding: 0px;
 --background-image-blur: 0px;
 --app-blur: 2px;
 --app-margin: 2px;
 --app-radius: 2px;
 --app-accent: #14f7e8 !important;
 --app-accent-rgb: 20, 247, 232 !important;
 --app-accent-text: #FFF !important;
 --sidebar-color: rgba(0,0,0,0.6);
 --main-content-color: rgba(0,0,0,0.5);
 --messages-color: rgba(0,0,0,0);
 --messages-radius: var(--app-radius);
 --textarea-color: 0,0,0;
 --textarea-text-color: #fff;
 --textarea-radius: 22px;
 --input-height: 36px;
 --input-radius: calc(var(--input-height) / 2);
 --card-color: rgba(0,0,0,0.4);
 --card-color-hover: rgba(0,0,0,0.5);
 --card-radius: var(--app-accent);
 --button-color: var(--app-accent);
 --button-action-color: #000;
 --button-text-color: var(--app-accent-text);
 --button-radius: var(--app-radius);
 --popout-color: rgba(0,0,0,0.55);
 --popout-blur: 2px;
 --popout-header-opacity: 0.3;
 --popout-header-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25);
 --popout-radius: var(--app-radius);
 --popout-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
 --nowplaying-color: 114,137,218;
 --streaming-color: 89,54,149;
 --spotify-color: 29,185,84;
 --interactive-n: #FFF !important;
 --interactive-hover: #f71414 !important;
 --interactive-active: #fff;
 --interactive-muted: #777;
 --channels-default: #FFF !important;
 --header-secondary: #dfdfdf;
 --background-primary: transparent;
 --background-modifier-hover: rgba(255,255,255,0.075);
 --background-modifier-selected: rgba(255,255,255,0.125);
 --channels-default: var(--interactive-normal);
 --text-muted: var(--interactive-normal);
 --transition-time: 250ms;
 --transition-type: cubic-bezier(0.4,0,0.2,1);
 --scrollbar-color: 0,0,0;
 --scrollbar-color-alt: 255,255,255;
 --scrollbar-opacity: 0.5;
 --scrollbar-opacity-hover: 0.7;
 --scrollbar-width: 10px; }
 
/*
 *
 *	SUPPORTED PLUGINS
 *
 */
/* SUPPORTED PLUGINS -> CharCounter */
.charCounter-7fw40k {
  position: relative;
  z-index: 1; }

.chatCounter-XOMPsh {
  bottom: auto; }

.counter-uAzbKp {
  width: 100%;
  height: 35px;
  padding: 0 16px;
  line-height: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  text-align: right;
  font-weight: 500; }

/* SUPPORTED PLUGINS -> HideChannels */
.sidebar-2K8pFh.hideElement .container-3baos1 {
  position: absolute;
  overflow: hidden; }

.sidebar-2K8pFh.hideElement .container-3baos1,
.sidebar-2K8pFh.hideElement .container-3baos1:before {
  background-color: transparent !important;
  border-radius: 0;
  box-shadow: none !important; }

.sidebar-2K8pFh.hideElement .container-3baos1:before {
  box-shadow: inset 0 0 0 100vmax var(--main-content-color) !important; }

/* SUPPORTED PLUGINS -> ServerSearch */
.popoutRight-1veHKi.noArrow-2foL9g {
  overflow: hidden; }
